.a98f3b020416ad54-searchResultsWrap .b82a71028a53dcf8-container:has(.c1521037ef09de7e-pageControlContainer) {
  position: sticky;
  z-index: 999;
  bottom: 10px;
  margin: 10px;
  background: var(--background-gradient-high, var(--background-base-lowest));
  border-radius: 10px;
}
