.a9e7064fdee8e9b0-searchResultsWrap ._86c0fae6715927dc-container:has(.c1521037ef09de7e-pageControlContainer) {
  position: sticky;
  z-index: 999;
  bottom: 10px;
  margin: 10px;
  background: var(--background-gradient-high, var(--background-base-lowest));
  border-radius: 10px;
}
