:root {
  --bg-color: var(--background-gradient-high, var(--background-base-lowest));

  --panel-gap: 8px;
  --panel-radius: 10px;
  --panel-color: var(--background-gradient-highest, var(--background-base-low));

  --spotify-image-blur: 4px;
  --spotify-image-opacity: 0.45;
  --spotify-image-hover-opacity: 0.7;

  --order-quests: 0;
  --order-listening: 1;
  --order-stream: 2;
  --order-spotify-player: 3;
  --order-voice: 4;
  --order-profile: 5;
}

._5e434347c823b592-panels {
  display: flex;
  flex-direction: column;
  gap: var(--panel-gap);
  background: var(--bg-color);
  border: none;
}

._0d6162a4e6a4b802-mask {
  order: var(--order-quests);
  margin-inline: 0;
  padding-inline: 0;
  border-radius: var(--panel-radius);
}
._0d6162a4e6a4b802-wrapper,
._0d6162a4e6a4b802-wrapperVisible {
  border-radius: var(--panel-radius);
}

.e0cf275d59896c00-listeningAlong,
._5dec784a68542d60-panel,
.e131a99484292a19-container,
._37e49614b9f110a9-container {
  background-color: var(--panel-color);
  border: 1px solid var(--border-subtle);
  border-radius: var(--panel-radius);
}

.e0cf275d59896c00-listeningAlong {
  order: var(--order-listening);
}

._5dec784a68542d60-panel {
  order: var(--order-stream);
  padding: calc(var(--custom-guild-list-padding) - var(--custom-panels-spacing) + 3px);
}

.e131a99484292a19-wrapper {
  order: var(--order-voice);

  &:not(:has(.e131a99484292a19-container)) {
    display: none;
  }

  .e131a99484292a19-container {
    min-height: 90px;
  }
}

._37e49614b9f110a9-container {
  order: var(--order-profile);
  min-height: 59px;

  &:has(.plated_37e49) {
    border: none;
  }
}

#vc-spotify-player {
  order: var(--order-spotify-player);
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, transparent 0%, var(--panel-color) 100%) !important;
  border: 1px solid transparent;
  border-radius: var(--panel-radius);
  margin: 0 -1px;

  .a562c840daab72a7-barFill {
    background-color: var(--vc-spotify-green) !important;
  }

  .vc-spotify-repeat-context,
  .vc-spotify-repeat-track,
  .vc-spotify-shuffle-on {
    span {
      color: var(--vc-spotify-green);
    }
    svg {
      fill: var(--vc-spotify-green);
    }
  }

  .vc-spotify-progress-time {
    margin-top: 10px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    transition: all 0.4s ease-out;
    z-index: -1;
  }
  &::before {
    background: var(--vc-spotify-track-image) center/cover no-repeat;
    opacity: var(--spotify-image-opacity);
  }
  &::after {
    backdrop-filter: blur(var(--spotify-image-blur));
  }

  &:hover::before {
    opacity: var(--spotify-image-hover-opacity);
  }
  &:hover::after {
    backdrop-filter: blur(0);
  }

  > * {
    filter: drop-shadow(0 0 10px var(--panel-color));
  }
}
